:root {
  --background-color-content-left: #362b2e;
  --background-color-home-content-left: #f9f0ff;
  --content-color-dark-black: #492d31;
  --content-color-light-pink: #a88590;
  --toggle-menu-color: #fff;
  --number-current-session-color: #c6646b;
  --title-color: #f37b83;
  --content-color: #faefff;
  --background-color-services: #302729;
  --session-content-color: #a88590;
  --session-content-hover: #faefff;
  --service-detail-background-color: #362a2e;
  --font-size-content: 15px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
button {
  display: inline;
}
.hide {
  display: none;
  animation: hide 0.3s ease-in-out;
}
.show {
  display: block;
  animation: show 0.3s ease-in-out;
}
@keyframes show {
  0% {
    transform: translateX(100%) translateY(100%) scale(0.2);
  }
  100% {
    transform: translateX(0) translateY(0) scale(1);
  }
}
@keyframes hide {
  0% {
    transform: opacity(1) translateX(0%) translateY(0%) scale(0.2);
  }
  100% {
    transform: opacity(0) translateX(100%) translateY(100%) scale(1);
  }
}
a {
  text-decoration: none;
  color: var(--content-color);
}
a:focus {
  outline: none;
}
/* session   */
.session {
  padding-left: 4%;
  padding-top: 6%;
}
.session-detail-des {
  margin-top: 6%;
  color: var(--session-content-color);
  transition: all 0.2s ease-in-out;
  line-height: 30px;
}
.session-detail-des:hover {
  color: var(--session-content-hover);
}
.session-info {
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 4%;
  color: var(--session-content-color);
}
.session-title {
  color: var(--title-color);
  margin-bottom: 5%;
  font-size: 30px;
  font-size: 2.26vw;
}
/* content-left - pagination */
.content-left {
  width: 23.4%;
  height: 100vh;
  background-color: var(--background-color-content-left);
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--toggle-menu-color);
}
.nav-toggle {
  height: 23px;
  width: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  transition: linear 1s ease-in-out;
  transform: translateX(-100%);
}
.nav-toggle:hover {
  justify-content: flex-end;
}
.nav-toggle::before {
  content: '';
  width: 21px;
  height: 3px;
  background-color: var(--toggle-menu-color);
  position: absolute;
  top: 0;
  transition: linear 1s ease-in-out;
}
.nav-toggle::after {
  content: '';
  width: 30px;
  height: 3px;
  background-color: var(--toggle-menu-color);
  position: absolute;
  bottom: 0;
}
.menu-line {
  width: 13px;
  height: 3px;
  background-color: var(--toggle-menu-color);
  transition: linear 1s ease-in-out;
}
/* pagination */
.top-pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
}
.pagination-line {
  width: 33%;
  height: 3px;
  margin: 0 3%;
  background-color: var(--toggle-menu-color);
}
.current-session {
  color: var(--number-current-session-color);
}
.my-info {
  margin-bottom: 10%;
}
.my-info-title {
  text-transform: uppercase;
  color: var(--title-color);
  letter-spacing: 5px;
  font-size: 12px;
  font-size: 0.9vw;
}
.my-info-content {
  color: var(--content-color);
  line-height: 30px;
  font-weight: 500;
}
.signature {
  margin-right: 15%;
  padding: 18% 0 4% 0;
}
.signature img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
/* session 1 - home */

.home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--background-color-home-content-left);
  height: 100vh;
  padding-top: 0;
}

/* content-right */
.content-right {
  width: 76.6%;
  margin-left: 23.4%;
}

.home-content-left {
  width: 40.9%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-pre {
  color: var(--content-color-dark-black);
  font-size: 28px;
  margin-bottom: 7.3%;
}
.home-title {
  color: var(--title-color);
  font-size: 100px;
  font-size: 7.5vw;
  line-height: 94px;
  padding: 4.7% 0;
  font-weight: 800;
}
.home-description {
  color: var(--content-color-light-pink);
  font-size: var(--font-size-content);
  margin: 5.5% 9% 5.5% 0;
  word-break: keep-all;
  line-height: 30px;
}
.home-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 8% 9% 0 0;
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 5px;
}
.home-social a {
  text-decoration: none;
  color: var(--content-color-dark-black);
  margin-top: 4%;
}

.home-content-right {
  width: 59.1%;
  height: 100%;
}
.home-content-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* services */
.services {
  background-color: var(--background-color-services);
  height: auto;
  padding: 4%;
}
.service-detail-wrapper {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}
.service-description-wrapper {
  width: 45%;
}
.service-detail {
  width: 44%;
  margin: 0 6% 6% 0;
  padding: 7%;
  background-color: var(--service-detail-background-color);
}
.service-detail img {
  width: 50%;
  object-fit: contain;
  margin-bottom: 4%;
}

.service-group-btn {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 4%;
  font-size: var(--font-size-content);

  /* place-items: center center; */
}
.service-group-btn button {
  color: var(--content-color);
  border: 2px solid var(--title-color);
  background-color: transparent;
  text-align: center;
  padding: 12px 38px;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 59px;
  transition: all 0.2s linear;
  margin: 6% 6% 0 0;
  width: fit-content;
  font-size: 100%;
}
.service-group-btn button:hover {
  color: var(--content-color);
  background-color: var(--title-color);
}
/* portfolio */
.portfolio {
  background-color: var(--background-color-services);
  height: auto;
  padding: 4%;
}
.portfolio::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--session-content-color);
}
.gallery {
  margin-top: 4%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.category-filter {
  position: absolute;
  top: -30px;
  right: 0px;
  z-index: 1;
  width: 25px;
  height: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.category-filter-icon {
  width: 20px;
  height: 3px;
  background-color: var(--title-color);
  transition: width 0.3s ease;
}
.category-filter-icon::before {
  content: '';
  display: block;
  width: 10px;
  height: 3px;
  background-color: var(--title-color);
  transform: translate(10px, 11px);
  transition: transform 0.3s ease;
}
.category-filter-icon:after {
  content: '';
  display: block;
  width: 10px;
  height: 3px;
  background-color: var(--title-color);
  transform: translate(-5px, 8px);
  transition: transform 0.3s ease;
}
.category-filter-list {
  z-index: 4;
  background-color: var(--background-color-services);
  position: absolute;
  top: 44px;
  right: 130%;
  width: 100px;
  color: var(--content-color);
}
.active {
  color: var(--title-color);
}
.category-filter-list > div {
  z-index: 4;
  text-align: center;
  padding: 15px 0;
  width: 100%;
}
.gallery-image {
  width: 30%;
  margin: 1%;
  position: relative;
  overflow: hidden;
}
.gallery-image:hover .portfolio-text-holder {
  transform: translateX(0%);
}
.portfolio-text-holder {
  content: '';
  position: absolute;
  width: 100%;
  height: 98.1%;
  top: 0;
  left: 0;
  background-color: var(--title-color);
  display: flex;
  align-items: flex-end;
  padding: 10%;
  transform: translateX(-101%);
  transition: all 0.2s ease-in-out;
}
.portfolio-text-wrapper {
  display: flex;
  flex-direction: column;
  color: var(--content-color);
}
.portfolio-text {
  font-weight: 700;
  font-size: 1.4em;
}
.portfolio-cat {
  font-size: 1em;
  display: flex;
  align-items: center;
}
.portfolio-cat::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  line-height: 100%;
  margin-right: 3%;
  background-color: var(--content-color);
}
.gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* resume */
.resume {
  display: grid;
  grid-template-columns: 3fr 2fr;
  background-color: var(--background-color-services);
  padding: 4%;
}
.timeline-event {
  margin-bottom: 5%;
  padding-right: 8%;
  display: grid;
  grid-template-columns: 1fr 1fr 7fr;
}
.timeline-event:hover .dot::before {
  opacity: 1;
}
.timeline-event:hover .date {
  transform: translateX(-20%);
}
.date,
.timeline {
  color: var(--title-color);
  transition: all 0.3s ease-in-out;
}
.date {
  text-align: center;
  margin-top: 10%;
}
.timeline {
  display: block;
  width: 100%;
  position: relative;
}

.event-content {
  color: var(--session-content-color);
  position: relative;
  padding: 0 5%;
  line-height: 30px;
}
.dot {
  position: absolute;
  content: '';
  width: 35px;
  height: 35px;
  left: 50%;
  transform: translateX(calc(-50% + 2px));
  border-radius: 50%;
  border: 3px solid var(--title-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.dot::before {
  left: 50%;
  content: '';
  position: absolute;
  transform: translateX(calc(-50%));
  width: 19px;
  height: 19px;
  box-sizing: border-box;
  background-color: var(--title-color);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.timeline::after {
  position: absolute;
  top: 50px;
  left: 50%;
  content: '';
  width: 3px;
  height: calc(100% - 50px);
  background-color: var(--title-color);
}

/* responsive */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .services {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service-detail-wrapper {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
  }
  .service-description-wrapper {
    width: 45%;
  }
  .service-detail {
    width: 44%;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .resume {
    display: grid;
    grid-template-columns: 1fr;
  }
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-left {
    width: 8.4%;
    padding-top: 4%;
    padding-left: 0;
    overflow: hidden;
    justify-content: start;
    align-items: center;
  }
  .content-right {
    width: 91.6%;
    margin-left: 8.4%;
  }
  .information {
    display: none;
  }
  .top-pagination {
    display: none;
  }
  .nav-toggle {
    transform: translateX(0);
  }
  .service-description-wrapper {
    margin: 0;
    width: 80%;
  }
  .service-detail-wrapper {
    width: 100%;
    justify-content: space-around;
  }
  .service-detail {
    width: 43%;
    margin-right: 0;
  }
}

/*  Large devices (desktops, 992px and up) */
@media (max-width: 1199.98px) {
  .gallery-image {
    width: 45%;
    margin: 1%;
  }
}

/*  Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .content-left {
    padding-left: 4%;
    padding-top: 0;
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .content-right {
    width: 100%;
    margin-left: 0;
    margin-top: 55px;
  }
  .top-pagination {
    justify-content: flex-end;
    padding-right: 4%;
    width: 30%;
  }
  .information {
    display: none;
  }
  .nav-toggle {
    transform: translateX(0);
  }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/*  Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .home-content-right {
    display: none;
  }
  .home-content-left {
    width: 100%;
  }
  .home {
    padding: 10%;
  }
  .top-pagination {
    width: 80%;
  }
  .gallery-image {
    width: 90%;
  }
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
